<!-- this partial is for rendering comment -->
<li>
    <div class="user mr-2">
        <% if User.find(comment.user_id).avatar.attached? %>
        <img src="<%= (url_for(User.find(comment.user_id).avatar))%>" alt="..." />
        <% else %>
        <img src="nouser.jpg" alt="">
        <% end %>
    </div>
    <!-- displaying the actual comment with the username -->
    <strong> <%= User.find(comment.user_id).username %> - </strong>
    <%= comment.body%>

    <!-- a form for submitting a reply -->
    <%= form_for Comment.new, class: "form-inline" do |f| %>
    <div class="input-group mb-2 mr-sm-2">
        <div class="user mr-2">
            <% if current_user.avatar.attached? %>
            <img src="<%= (url_for(current_user.avatar))%>" alt="..." />
            <% else %>
            <img src="nouser.jpg" alt="">
            <% end %>
        </div>
        <%= f.hidden_field :commentable_id, value: comment.id %>
        <%= f.hidden_field :commentable_type, value: "Comment" %>
        <%= f.text_field :body, placeholder: "Add a reply ", class: "form-control mb-2 mr-sm-2"%>
        <%= f.submit "reply", class: "btn btn-primary mb-2 rounded-corner"%>
    </div>
    <% end %>
    <!-- in a recursive manner, call out for all the comments associated with this comment -->
    <ul style="list-style: none;">
        <%= render partial: 'comment', collection: comment.comments %>
    </ul>
</li>